#gallary{
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: transparent;
}

.slick-prev{
    position: absolute;
    z-index: 9;
    right: 0;
    top: 40%;
    width: 30px;
    height: 30px;
    background: white;
    font-size: 10px;
    border: none;
    border-radius: 100%;
    color: #817676;
}

.slick-next{
    position: absolute;
    z-index: 9;
    left: 0;
    top: 40%;
    width: 30px;
    height: 30px;
    background: white;
    font-size: 10px;
    border: none;
    border-radius: 100%;
    color: #817676;
}

.title-g{
    font-size: 10px;
    /* font-weight: 600; */
    color: #333;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 3;
}

.mside{
    background: transparent;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid #ece7e7;
    font-size: 13px;
    transition: 0.25s ease all;
}

.mside:hover{
    background-color: #efe8e8;
}

.mside span svg{
    width: 15px;
    color: black;
}
