
  nav {
    background-color: transparent;
    color: #687385;
    width: 100%;
    padding: 15px;
    display: block;
    position: relative;
  }

  nav ul {
    list-style-type: none;
    padding-inline-start: 0;
  }

  nav ul li {
    position: relative;
    white-space: nowrap;
  }

  nav ul .li a {
    color: #5c6575 !important;
    font-weight: 666 !important;
  }

  nav ul li:hover {
    background-color: #ccc;
  }

  nav ul .li:hover{
    background-color: transparent !important;
  }

  nav ul ul {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 9;
    box-shadow: 1px 1px 3px #999;
    border: 1px solid #ddd8d8;
  }

  nav > ul {
    display: flex;
  }

  nav > ul > li ul {
    top: 100%;
    left: 0;
  }

  nav > ul > li ul ul {
    top: 0;
    left: 100%;
    box-shadow: 1px 3px 2px #ccc !important;
  }

  nav > ul > li:hover > ul,
  nav > ul > li li:hover > ul {
    display: inherit;
  }

  nav a {
    color: #687385;
    text-decoration: none;
    display: inline-block;
    padding: 1em;
  }

  nav a:not(:only-child) {
    padding-right: 2em;
  }

  nav a:not(:only-child)::after {
    content: "+";
    position: absolute;
    right: 1em;
  }

  .link{
    font-weight: 600 !important;
    padding: 5px !important;
    color: #181819 !important;
    line-height: 2;
  }

  .nav-topbar ul.sub-menu, .main-header .main-nav ul ul.sub-menu{
    box-shadow: 1px 3px 2px #ccc !important;
  }

  .nav-tabs{
    border-bottom: none !important;
  }

  .card-header{
    background-color: white !important;
  }

  .nav-tabs .nav-link.active{
    background: #000 !important;
    border-radius: 5px;
    padding: 10px;
    color: white !important;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-link, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    background: #fff;
    border-radius: 5px !important;
    padding: 10px !important;
    color: #000;
  }

  .sbm li a{
    font-size: 12px !important;
    font-weight: normal !important;
  }
  .sbm li{
      border-bottom: 1px solid #ccc;
      transition: 0.40s ease all;
      padding: 8px;
  }
